@model IEnumerable<HPIT.RentHouse.DTO.HousePicDTO>
@{
    ViewBag.Title = "LookImg";
}
<link href="~/lib/lightbox2/2.8.1/css/lightbox.css" rel="stylesheet" />

<div class="pd-20">
    <span><a href="javascript:;" id="deleteBatch" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span>
    <div class="portfolio-content">
        <ul class="cl portfolio-area">

            @{
                foreach (var item in Model)
                {
                    <li class="item">
                        <div class="portfoliobox">
                            <input class="checkbox" name="selectIDs" type="checkbox" value="@item.Id">
                            <div class="picbox"><a href="@item.Url" data-lightbox="gallery" data-title="客厅1"><img src="@item.ThumbUrl"></a></div>
                        </div>
                    </li>
                }
            }

        </ul>
    </div>
</div>

@section footScript{
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/lightbox2/2.8.1/js/lightbox-plus-jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $.Huihover(".portfolio-area li");
        });

        $("#deleteBatch").click(function () {
            // 创建数组用来存储数据
            var id = [];
            // 获取房源选中的复选框 的value值
            $(":checkbox[name=selectIDs]:checked").each((index, item) => {
                id.push($(item).val());
            });

            if (id.length == 0) {
                layer.msg("请选择要批量删除的房源！", { icon: 2 })
            } else {
                layer.confirm('你确定要删除这些项吗？', { icon: 3, title: '提示' }, function (index) {
                    $.ajax({
                        type: "post",
                        url: "/House/LookImg",
                        data: {
                            "houseId": id
                        },
                        dataType: "json",
                        success: function (r) {
                            layer.msg("正在批量删除房源图片···", { icon: 1, time: 1000 }, function () {
                                if (r.State == 1) {
                                    layer.msg(r.Message, { icon: 1, time: 1000 }, function () {
                                        // 刷新，关闭当前窗体
                                        location.reload();
                                    })
                                } else {
                                    layer.msg(r.Message, { icon: 2 })
                                }
                            })
                        },
                        error: function () {
                            layer.msg("操作异常", { icon: 2 })
                        }
                    })
                    layer.close(index);
                });
            }
        })

    </script>
}
