@{
    ViewBag.Title = "编辑权限";
}
<div class="pd-20">

    <form class="form form-horizontal" id="editfrm">
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>权限描述：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="权限描述" id="user-name" name="Description" datatype="*2-16" nullmsg="权限描述不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>权限名字：</label>
            <div class="formControls col-5">
                <input type="text" placeholder="权限名字" autocomplete="off" value="" class="input-text" datatype="*6-20" nullmsg="权限名字不能为空" name="Name" id="name">
            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input class="btn btn-primary radius" type="button" id="btn_Edit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
}